@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body, #root, .App, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ol-zoom {
  top: 3.5em !important;
}

.ol-rotate {
  top: 3.5em !important;
}

.title {
  font-size: 1.3em;
}

.ant-slider-track {
  background-color: rgba(0,60,136,0.5) !important;
}

ant-slider-handle {
  border: solid 2px rgba(0,60,136,1) !important;
}

.react-geo-titlebar {
  background-color: #ffffff !important;
  color: #2B7551 !important;
  font-weight: bold;
  font-family: 'Poiret One' !important;
}

.clip {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

#layer-switcher-map {
  width: 256px;
  height: 256px;
  position: relative;
  left: -68px;
  top: -68px;
  pointer-events: none;
}

.layer-title {
  font-size: .7em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3px 6px;
  border-radius: 0 0 4px 4px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.7));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}